:root {
  /* --------------------------------- COLORS --------------------------------- */
  --color-background-grayscale-0: #ffffff;
  --color-background-grayscale-50: #f2f3f7;
  --color-background-grayscale-100: #e2e3e8;
  --color-background-grayscale-150: #a3a4b3;
  --color-background-grayscale-200: #6d6e82;
  --color-background-grayscale-250: #2a2b3c;
  --color-background-grayscale-300: #000814;
  --color-background-primary-0: #fefbe5;
  --color-background-primary-50: #fef498;
  --color-background-primary-100: #feec4c;
  --color-background-primary-150: #fee400;
  --color-background-primary-200: #ccb700;
  --color-background-primary-250: #998900;
  --color-background-primary-300: #665b00;
  --color-background-secondary-0: #f0e5fe;
  --color-background-secondary-50: #c598fe;
  --color-background-secondary-100: #9a4cfe;
  --color-background-secondary-150: #7000fe;
  --color-background-secondary-200: #5a00cc;
  --color-background-secondary-250: #430099;
  --color-background-secondary-300: #2d0066;
  --color-background-support-0: #e5e9fe;
  --color-background-support-50: #98a9fe;
  --color-background-support-100: #4c6afe;
  --color-background-support-150: #002afe;
  --color-background-support-200: #0022cc;
  --color-background-support-250: #001a99;
  --color-background-support-300: #001166;
  --color-background-success-0: #f7fee5;
  --color-background-success-50: #e3fe98;
  --color-background-success-100: #cffe4c;
  --color-background-success-150: #bcfe00;
  --color-background-success-200: #96cc00;
  --color-background-success-250: #709900;
  --color-background-success-300: #4b6600;
  --color-background-danger-0: #ffe5e5;
  --color-background-danger-50: #ff9999;
  --color-background-danger-100: #ff4c4c;
  --color-background-danger-150: #ff3333;
  --color-background-danger-200: #cc2929;
  --color-background-danger-250: #991f1f;
  --color-background-danger-300: #661414;
  --color-background-attention-0: #fff2e5;
  --color-background-attention-50: #ffcc99;
  --color-background-attention-100: #ffa64d;
  --color-background-attention-150: #ff8000;
  --color-background-attention-200: #cc6600;
  --color-background-attention-250: #994d00;
  --color-background-attention-300: #663300;
  --color-neutral-grayscale-0: #ffffff;
  --color-neutral-grayscale-50: #f2f3f7;
  --color-neutral-grayscale-100: #e2e3e8;
  --color-neutral-grayscale-150: #a3a4b3;
  --color-neutral-grayscale-200: #6d6e82;
  --color-neutral-grayscale-250: #2a2b3c;
  --color-neutral-grayscale-300: #000814;
  --color-neutral-primary-0: #fefbe5;
  --color-neutral-primary-50: #fef498;
  --color-neutral-primary-100: #feec4c;
  --color-neutral-primary-150: #fee400;
  --color-neutral-primary-200: #ccb700;
  --color-neutral-primary-250: #998900;
  --color-neutral-primary-300: #665b00;
  --color-neutral-secondary-0: #f0e5fe;
  --color-neutral-secondary-50: #c598fe;
  --color-neutral-secondary-100: #9a4cfe;
  --color-neutral-secondary-150: #7000fe;
  --color-neutral-secondary-200: #5a00cc;
  --color-neutral-secondary-250: #430099;
  --color-neutral-secondary-300: #2d0066;
  --color-neutral-support-0: #e5e9fe;
  --color-neutral-support-50: #98a9fe;
  --color-neutral-support-100: #4c6afe;
  --color-neutral-support-150: #002afe;
  --color-neutral-support-200: #0022cc;
  --color-neutral-support-250: #001a99;
  --color-neutral-support-300: #001166;
  --color-neutral-success-0: #f7fee5;
  --color-neutral-success-50: #e3fe98;
  --color-neutral-success-100: #cffe4c;
  --color-neutral-success-150: #bcfe00;
  --color-neutral-success-200: #96cc00;
  --color-neutral-success-250: #709900;
  --color-neutral-success-300: #4b6600;
  --color-neutral-attention-0: #fff2e5;
  --color-neutral-attention-50: #ffcc99;
  --color-neutral-attention-100: #ffa64d;
  --color-neutral-attention-150: #ff8000;
  --color-neutral-attention-200: #cc6600;
  --color-neutral-attention-250: #994d00;
  --color-neutral-attention-300: #663300;
  --color-neutral-danger-0: #ffe5e5;
  --color-neutral-danger-50: #ff9999;
  --color-neutral-danger-100: #ff4c4c;
  --color-neutral-danger-150: #ff3333;
  --color-neutral-danger-200: #cc2929;
  --color-neutral-danger-250: #991f1f;
  --color-neutral-danger-300: #661414;
  --color-typeface-grayscale-0: #ffffff;
  --color-typeface-grayscale-50: #f2f3f7;
  --color-typeface-grayscale-100: #e2e3e8;
  --color-typeface-grayscale-150: #a3a4b3;
  --color-typeface-grayscale-200: #6d6e82;
  --color-typeface-grayscale-250: #2a2b3c;
  --color-typeface-grayscale-300: #000814;
  --color-typeface-primary-0: #fefbe5;
  --color-typeface-primary-50: #fef498;
  --color-typeface-primary-100: #feec4c;
  --color-typeface-primary-150: #fee400;
  --color-typeface-primary-200: #ccb700;
  --color-typeface-primary-250: #998900;
  --color-typeface-primary-300: #665b00;
  --color-typeface-secondary-0: #f0e5fe;
  --color-typeface-secondary-50: #c598fe;
  --color-typeface-secondary-100: #9a4cfe;
  --color-typeface-secondary-150: #7000fe;
  --color-typeface-secondary-200: #5a00cc;
  --color-typeface-secondary-250: #430099;
  --color-typeface-secondary-300: #2d0066;
  --color-typeface-support-0: #e5e9fe;
  --color-typeface-support-50: #98a9fe;
  --color-typeface-support-100: #4c6afe;
  --color-typeface-support-150: #002afe;
  --color-typeface-support-200: #0022cc;
  --color-typeface-support-250: #001a99;
  --color-typeface-support-300: #001166;
  --color-typeface-success-0: #f7fee5;
  --color-typeface-success-50: #e3fe98;
  --color-typeface-success-100: #cffe4c;
  --color-typeface-success-150: #bcfe00;
  --color-typeface-success-200: #96cc00;
  --color-typeface-success-250: #709900;
  --color-typeface-success-300: #4b6600;
  --color-typeface-attention-0: #fff2e5;
  --color-typeface-attention-50: #ffcc99;
  --color-typeface-attention-100: #ffa64d;
  --color-typeface-attention-150: #ff8000;
  --color-typeface-attention-200: #cc6600;
  --color-typeface-attention-250: #994d00;
  --color-typeface-attention-300: #663300;
  --color-typeface-danger-0: #ffe5e5;
  --color-typeface-danger-50: #ff9999;
  --color-typeface-danger-100: #ff4c4c;
  --color-typeface-danger-150: #ff3333;
  --color-typeface-danger-200: #cc2929;
  --color-typeface-danger-250: #991f1f;
  --color-typeface-danger-300: #661414;
/* ------------------------------- TYPOGRAPHY ------------------------------- */
  --typescale-header-branding-6xl-font-family: Inter-ExtraBold, sans-serif;
  --typescale-header-branding-6xl-font-size: 96px;
  --typescale-header-branding-6xl-line-height: 104px;
  --typescale-header-branding-6xl-font-weight: 800;
  --typescale-header-branding-6xl-font-style: normal;
  --typescale-header-branding-5xl-font-family: Inter-Bold, sans-serif;
  --typescale-header-branding-5xl-font-size: 80px;
  --typescale-header-branding-5xl-line-height: 88px;
  --typescale-header-branding-5xl-font-weight: 700;
  --typescale-header-branding-5xl-font-style: normal;
  --typescale-header-branding-4xl-font-family: Inter-SemiBold, sans-serif;
  --typescale-header-branding-4xl-font-size: 64px;
  --typescale-header-branding-4xl-line-height: 72px;
  --typescale-header-branding-4xl-font-weight: 600;
  --typescale-header-branding-4xl-font-style: normal;
  --typescale-header-desktop-3xl-font-family: Inter-Bold, sans-serif;
  --typescale-header-desktop-3xl-font-size: 48px;
  --typescale-header-desktop-3xl-line-height: 56px;
  --typescale-header-desktop-3xl-font-weight: 700;
  --typescale-header-desktop-3xl-font-style: normal;
  --typescale-header-desktop-2xl-font-family: Inter-SemiBold, sans-serif;
  --typescale-header-desktop-2xl-font-size: 48px;
  --typescale-header-desktop-2xl-line-height: 56px;
  --typescale-header-desktop-2xl-font-weight: 600;
  --typescale-header-desktop-2xl-font-style: normal;
  --typescale-header-desktop-1xl-font-family: Inter-Bold, sans-serif;
  --typescale-header-desktop-1xl-font-size: 40px;
  --typescale-header-desktop-1xl-line-height: 48px;
  --typescale-header-desktop-1xl-font-weight: 700;
  --typescale-header-desktop-1xl-font-style: normal;
  --typescale-header-mobile-3xl-font-family: Inter-Bold, sans-serif;
  --typescale-header-mobile-3xl-font-size: 40px;
  --typescale-header-mobile-3xl-line-height: 48px;
  --typescale-header-mobile-3xl-font-weight: 700;
  --typescale-header-mobile-3xl-font-style: normal;
  --typescale-header-mobile-2xl-font-family: Inter-SemiBold, sans-serif;
  --typescale-header-mobile-2xl-font-size: 40px;
  --typescale-header-mobile-2xl-line-height: 48px;
  --typescale-header-mobile-2xl-font-weight: 600;
  --typescale-header-mobile-2xl-font-style: normal;
  --typescale-header-mobile-1xl-font-family: Inter-Bold, sans-serif;
  --typescale-header-mobile-1xl-font-size: 32px;
  --typescale-header-mobile-1xl-line-height: 40px;
  --typescale-header-mobile-1xl-font-weight: 700;
  --typescale-header-mobile-1xl-font-style: normal;
  --typescale-subheader-desktop-3l-font-family: Inter-SemiBold, sans-serif;
  --typescale-subheader-desktop-3l-font-size: 40px;
  --typescale-subheader-desktop-3l-line-height: 48px;
  --typescale-subheader-desktop-3l-font-weight: 600;
  --typescale-subheader-desktop-3l-font-style: normal;
  --typescale-subheader-desktop-2l-font-family: Inter-SemiBold, sans-serif;
  --typescale-subheader-desktop-2l-font-size: 32px;
  --typescale-subheader-desktop-2l-line-height: 40px;
  --typescale-subheader-desktop-2l-font-weight: 600;
  --typescale-subheader-desktop-2l-font-style: normal;
  --typescale-subheader-desktop-1l-font-family: Inter-SemiBold, sans-serif;
  --typescale-subheader-desktop-1l-font-size: 24px;
  --typescale-subheader-desktop-1l-line-height: 32px;
  --typescale-subheader-desktop-1l-font-weight: 600;
  --typescale-subheader-desktop-1l-font-style: normal;
  --typescale-subheader-mobile-2l-font-family: Inter-SemiBold, sans-serif;
  --typescale-subheader-mobile-2l-font-size: 24px;
  --typescale-subheader-mobile-2l-line-height: 32px;
  --typescale-subheader-mobile-2l-font-weight: 600;
  --typescale-subheader-mobile-2l-font-style: normal;
  --typescale-subheader-mobile-1l-font-family: Inter-SemiBold, sans-serif;
  --typescale-subheader-mobile-1l-font-size: 16px;
  --typescale-subheader-mobile-1l-line-height: 24px;
  --typescale-subheader-mobile-1l-font-weight: 600;
  --typescale-subheader-mobile-1l-font-style: normal;
  --typescale-paragraph-desktop-3m-font-family: Inter-SemiBold, sans-serif;
  --typescale-paragraph-desktop-3m-font-size: 16px;
  --typescale-paragraph-desktop-3m-line-height: 24px;
  --typescale-paragraph-desktop-3m-font-weight: 600;
  --typescale-paragraph-desktop-3m-font-style: normal;
  --typescale-paragraph-desktop-2m-font-family: Inter-Medium, sans-serif;
  --typescale-paragraph-desktop-2m-font-size: 16px;
  --typescale-paragraph-desktop-2m-line-height: 24px;
  --typescale-paragraph-desktop-2m-font-weight: 500;
  --typescale-paragraph-desktop-2m-font-style: normal;
  --typescale-paragraph-desktop-1m-font-family: Inter-Regular, sans-serif;
  --typescale-paragraph-desktop-1m-font-size: 14px;
  --typescale-paragraph-desktop-1m-line-height: 24px;
  --typescale-paragraph-desktop-1m-font-weight: 400;
  --typescale-paragraph-desktop-1m-font-style: normal;
  --typescale-paragraph-mobile-2m-font-family: Inter-Medium, sans-serif;
  --typescale-paragraph-mobile-2m-font-size: 16px;
  --typescale-paragraph-mobile-2m-line-height: 24px;
  --typescale-paragraph-mobile-2m-font-weight: 500;
  --typescale-paragraph-mobile-2m-font-style: normal;
  --typescale-paragraph-mobile-1m-font-family: Inter-Regular, sans-serif;
  --typescale-paragraph-mobile-1m-font-size: 14px;
  --typescale-paragraph-mobile-1m-line-height: 24px;
  --typescale-paragraph-mobile-1m-font-weight: 400;
  --typescale-paragraph-mobile-1m-font-style: normal;
  --typescale-action-desktop-normal-font-family: Inter-Bold, sans-serif;
  --typescale-action-desktop-normal-font-size: 14px;
  --typescale-action-desktop-normal-line-height: 24px;
  --typescale-action-desktop-normal-font-weight: 700;
  --typescale-action-desktop-normal-font-style: normal;
  --typescale-action-desktop-link-font-family: Inter-Bold, sans-serif;
  --typescale-action-desktop-link-font-size: 14px;
  --typescale-action-desktop-link-line-height: 24px;
  --typescale-action-desktop-link-font-weight: 700;
  --typescale-action-desktop-link-font-style: normal;
  --typescale-action-mobile-normal-font-family: Inter-Bold, sans-serif;
  --typescale-action-mobile-normal-font-size: 14px;
  --typescale-action-mobile-normal-line-height: 24px;
  --typescale-action-mobile-normal-font-weight: 700;
  --typescale-action-mobile-normal-font-style: normal;
  --typescale-action-mobile-link-font-family: Inter-Bold, sans-serif;
  --typescale-action-mobile-link-font-size: 14px;
  --typescale-action-mobile-link-line-height: 24px;
  --typescale-action-mobile-link-font-weight: 700;
  --typescale-action-mobile-link-font-style: normal;
  --typescale-highlight-desktop-default-font-family: Inter-ExtraBold, sans-serif;
  --typescale-highlight-desktop-default-font-size: 12px;
  --typescale-highlight-desktop-default-line-height: 16px;
  --typescale-highlight-desktop-default-font-weight: 800;
  --typescale-highlight-desktop-default-font-style: normal;
  --typescale-highlight-desktop-allcaps-font-family: Inter-ExtraBold, sans-serif;
  --typescale-highlight-desktop-allcaps-font-size: 12px;
  --typescale-highlight-desktop-allcaps-line-height: 16px;
  --typescale-highlight-desktop-allcaps-font-weight: 800;
  --typescale-highlight-desktop-allcaps-font-style: normal;
  --typescale-highlight-desktop-light-font-family: Inter-Medium, sans-serif;
  --typescale-highlight-desktop-light-font-size: 12px;
  --typescale-highlight-desktop-light-line-height: 16px;
  --typescale-highlight-desktop-light-font-weight: 500;
  --typescale-highlight-desktop-light-font-style: normal;
  --typescale-highlight-mobile-default-font-family: Inter-ExtraBold, sans-serif;
  --typescale-highlight-mobile-default-font-size: 12px;
  --typescale-highlight-mobile-default-line-height: 16px;
  --typescale-highlight-mobile-default-font-weight: 800;
  --typescale-highlight-mobile-default-font-style: normal;
  --typescale-highlight-mobile-allcaps-font-family: Inter-ExtraBold, sans-serif;
  --typescale-highlight-mobile-allcaps-font-size: 12px;
  --typescale-highlight-mobile-allcaps-line-height: 16px;
  --typescale-highlight-mobile-allcaps-font-weight: 800;
  --typescale-highlight-mobile-allcaps-font-style: normal;
  --typescale-highlight-mobile-light-font-family: Inter-Medium, sans-serif;
  --typescale-highlight-mobile-light-font-size: 12px;
  --typescale-highlight-mobile-light-line-height: 16px;
  --typescale-highlight-mobile-light-font-weight: 500;
  --typescale-highlight-mobile-light-font-style: normal;
 /* ------------------------------- BREAKPOINTS ------------------------------ */
  --breakpoint-small: 1280px;
  --breakpoint-medium: 1366px;
  --breakpoint-large: 1440px;
  --breakpoint-xlarge: 1920px;
}
